server:
  port: 8080

spring:
  application:
    name: exam-service

  datasource:
    url: jdbc:mysql://localhost:3306/exam_db?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
