@tailwind base;
@tailwind components;
@tailwind utilities;

/* Xóa bỏ mọi khoảng trắng thừa mặc định của trình duyệt */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Đảm bảo ứng dụng luôn full màn hình */
body, html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}